In [13]:
'''WORK IN PROGRESS: Not doing anything currently. Use benchmarking_sanity for benchmarking'''
import os
import pandas as pd
from pipeline.pipeline import load_ground_truth
from consts import N_PRED_MONTHS, N_PREDS_PER_MONTH, FIRST_FULL_GT_YEAR
import numpy as np


path = os.getcwd()
final_val = pd.read_csv(os.path.join(path, '..', 'outputs', 'final_val.csv'))
final_train = pd.read_csv(os.path.join(path, '..', 'outputs', 'final_train.csv'))

final_train.head()

,site_id,issue_date,volume_10,volume_50,volume_90
0,hungry_horse_reservoir_inflow,1987-01-01,1252.654058,1769.005686,2285.357276
1,hungry_horse_reservoir_inflow,1987-01-08,1290.109429,1776.534836,2262.960281
2,hungry_horse_reservoir_inflow,1987-01-15,1188.783001,1610.920107,2033.057176
3,hungry_horse_reservoir_inflow,1987-01-22,1101.902217,1484.628314,1867.354412
4,hungry_horse_reservoir_inflow,1987-02-01,1148.988207,1536.741736,1924.495228

In [52]:
num_predictions = N_PREDS_PER_MONTH*N_PRED_MONTHS
gt = load_ground_truth(num_predictions)
num_sites = gt.site_id.nunique()
gt.head()

                         site_id    volume  forecast_year
0  hungry_horse_reservoir_inflow  1658.333           1986
0  hungry_horse_reservoir_inflow  1658.333           1986
0  hungry_horse_reservoir_inflow  1658.333           1986
0  hungry_horse_reservoir_inflow  1658.333           1986
0  hungry_horse_reservoir_inflow  1658.333           1986

In [53]:
val_years = range(FIRST_FULL_GT_YEAR, 2023, 8)
gt_val = gt[gt.forecast_year.isin(val_years)]
gt_train = gt[~gt.forecast_year.isin(val_years)]
gt_train.head()

                         site_id    volume  forecast_year
1  hungry_horse_reservoir_inflow  1341.983           1987
1  hungry_horse_reservoir_inflow  1341.983           1987
1  hungry_horse_reservoir_inflow  1341.983           1987
1  hungry_horse_reservoir_inflow  1341.983           1987
1  hungry_horse_reservoir_inflow  1341.983           1987

In [54]:

gt_months = pd.Series(data=range(1,8))
gt_months = gt_months.repeat(N_PREDS_PER_MONTH)
gt_sites_months = pd.concat([gt_months] * num_sites).reset_index(drop=True)

# Get location of detroit july values
detroit_idx = np.where(final_val.site_id.unique()=='detroit_lake_inflow')



gt_val_months = pd.concat([gt_months] * gt_val.forecast_year.nunique()*num_sites).reset_index(drop=True)
gt_train_months = pd.concat([gt_months] * gt_train.forecast_year.nunique()*num_sites).reset_index(drop=True)

NameError: name 'np' is not defined

In [51]:
final_val['month'] = gt_val_months
final_train['month'] = gt_train_months
gt_val_months

0       1
1       1
2       1
3       1
4       2
       ..
3635    6
3636    7
3637    7
3638    7
3639    7
Length: 3640, dtype: int64

In [38]:
final_val

,site_id,issue_date,volume_10,volume_50,volume_90,month
0,hungry_horse_reservoir_inflow,1986-01-01,1287.714860,1876.742913,2465.771041,1.0
1,hungry_horse_reservoir_inflow,1986-01-08,1430.618412,1943.596214,2456.573979,1.0
2,hungry_horse_reservoir_inflow,1986-01-15,1271.926120,1736.653293,2201.380428,1.0
3,hungry_horse_reservoir_inflow,1986-01-22,1247.116805,1686.069901,2125.022960,1.0
4,hungry_horse_reservoir_inflow,1986-02-01,1216.992030,1629.754942,2042.517817,1.0
...,...,...,...,...,...,...
3615,owyhee_r_bl_owyhee_dam,2018-06-22,32.174837,116.265534,200.356231,NaN
3616,owyhee_r_bl_owyhee_dam,2018-07-01,29.819214,113.271633,196.724051,NaN
3617,owyhee_r_bl_owyhee_dam,2018-07-08,27.910433,110.846974,193.783516,NaN
3618,owyhee_r_bl_owyhee_dam,2018-07-15,26.244412,108.692328,191.140244,NaN
3619,owyhee_r_bl_owyhee_dam,2018-07-22,24.826149,106.811328,188.796506,NaN